<h2 mat-dialog-title>Edit Course</h2>
<mat-dialog-content class="mat-typography">
  
    <div style="width: 500px;" *ngIf="hasData">
        <div class="title border" style="background-color: indianred; width: 100%; height: 10px;" *ngIf="!activeData.ready">
        
        </div>
        <div class="title border" style="background-color: rebeccapurple; width: 100%; height: 10px;" *ngIf="activeData.ready">
        
        </div>
        <form class="" (ngSubmit)="f.form.valid && editInfo()" #f="ngForm">
            <div class="form-section" style="width: 100%;">
               
                <div class="form-field">
                    <label for="">Number of Hours</label>
                    <input type="number" name="totHours "#noh="ngModel"  required [(ngModel)]="activeData.totHours" id="" placeholder="30" [value]="activeData.totHours">
                    <div *ngIf="f.submitted && noh.invalid" class="invalid-feedback">
                        <div *ngIf="noh.errors?.required"> <p class="error">Number of hours is required</p></div>
                  
                    </div>
                </div>
                <div class="form-field">
                    <label for="">Lecturer: {{lecturerName}}</label>
                    <select name="lecturer" #activeLec="ngModel"  required   [(ngModel)]="activeData.lecturer">
                        <option *ngFor="let lecturer of lecturers"  [value]="lecturer._id">{{lecturer.name}}</option>
                        
                    </select>
                    <div *ngIf="f.submitted && activeLec.invalid" class="invalid-feedback">
                        <div *ngIf="activeLec.errors?.required"> <p class="error">Lecturer is required</p></div>
                  
                    </div>
                </div>
                <div class="form-field" *ngIf="!hasSemester">
                    <label> No Semester Created. You Must Create atleast one semester</label>
                    <a [routerLink]="['/semester']" mat-dialog-close style="color: lightcoral;"> click to create a semester</a>
                </div>
                <div class="form-field" *ngIf="hasSemester">
                    <label for="">Semester: {{SemesterName}}</label>
                   
                    <select name="semester" id="" #semester  #sem="ngModel"  required   [(ngModel)]="activeData.semester">
                        <option *ngFor="let semester of semesters"  [value]="semester._id">{{semester.name}}</option>
                    </select>
                    <div *ngIf="f.submitted && sem.invalid" class="invalid-feedback">
                        <div *ngIf="sem.errors?.required"> <p class="error">Semester is required</p></div>
                  
                    </div>
                </div>
                <div class="form-field">
                    <label for="">Day: {{days}}</label>
                    <select name="day" id=""  #day="ngModel"  required     [(ngModel)]="activeData.days[0]">
                        <option value="Monday">MONDAY</option>
                        <option value="Tuesday">TUESDAY</option>
                        <option value="Wednesday">WEDNESDAY</option>
                        <option value="Thursday">THURSDAY</option>
                        <option value="Friday">FRIDAY</option>
                        <option value="Saturday">SATURDAY</option>
                  
                      
                    </select>
                    <div *ngIf="f.submitted && day.invalid" class="invalid-feedback">
                        <div *ngIf="day.errors?.required"> <p class="error">Day is required</p></div>
                  
                    </div>
                </div>
                <div class="form-field">
                    <label for="">Period: {{periods}}</label>
                    <select name="periods" #period="ngModel"  required    [(ngModel)]="activeData.periods">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="1,2">1 & 2</option>
                        <option value="3,4">3 & 4</option>
                        <option value="1,2,3,4">1,2,3 & 4</option>
                        
                    </select>
                    <div *ngIf="f.submitted && period.invalid" class="invalid-feedback">
                        <div *ngIf="period.errors?.required"> <p class="error">Period is required</p></div>
                  
                    </div>
                </div>
                <div class="form-field">
                    <label for="">Needs Lab: {{needsLab}}</label>
                    <select name="needsLab" #lb="ngModel"  required   id="" #lab (change)="selectNeedsLab(activeData._id,lab.value)" [(ngModel)]="activeData.needsLab">
                        <option [value]="activeData.needsLab"  selected="true">{{activeData.needsLab}}</option>
                             <option [value]="!activeData.needsLab">{{!activeData.needsLab}}</option>
                    </select>
                    <div *ngIf="f.submitted && lb.invalid" class="invalid-feedback">
                        <div *ngIf="lb.errors?.required"> <p class="error">Needs Lab status is required</p></div>
                  
                    </div>
                </div>
              
            </div>
            <div class="btn-group" style="display: flex; justify-content: right;">
                <button class="btn btn-cancel" mat-dialog-close >Cancel</button>
                <button class="btn btn-green" type="submit" *ngIf="hasSemester" >Save</button>
            </div>
          
        </form>
    </div>
</mat-dialog-content>

