<div class="section">
    <div class="flex-2-1 category">
        <div>
            <div class="parent-con">
                <div class="title border">
                    <!-- <p *ngIf="showData">{{data.name}}</p> -->
                     <form action="" *ngIf="showData">
                          <div class="form-field">
                  
                        <input type="text" name="name"  [(ngModel)]="data.name" style="font-size: 2rem; font-weight: bold;"> 
                  
                    </div>  </form>
                    <a (click)="updateName()" *ngIf="showData" class="btn btn-green" style="align-self: end;">Save Name </a>
                </div>
                <div class="table-con">
                    <div *ngIf="noClass">
                        <P>No Class Added Yet</P>
                    </div>
                    <table *ngIf="!noClass">
                        <thead>
                            <tr>
                                <th class="num">#</th>
                                <th class="name">Class Name</th>
                                <th class="name">Size</th>
                                <th class="name" >Is Lab</th>
                                <th class="action">Actions</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of classes">
                                <td class="flex-center">#</td>
                                <td class="flex-strat">{{item.name}}</td>
                                <td class="flex-strat">{{item.size}}</td>
                                <td class="flex-strat">{{item.isLab}}</td>

                                <td class="flex-center">
                                    <div class="action">
                                        <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        <a (click)="showDeleteBtn(item._id)" *ngIf="!item.showDelete" class="patial-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        <a (click)="delete(item._id)" *ngIf="item.showDelete"  class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                            </tr>
                         
                           
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <div class="create-category parent-con">
                <div class="title border">
                    <p>Add Class</p>
                </div>
                <form class="" (ngSubmit)="f.form.valid &&  addClass()" #f="ngForm">
                    <div class="form-section">
                        <div class="form-field">
                            <label for="">Class name</label>
                            <input type="text" name="name" placeholder="Class Name" [(ngModel)]="classData.name" #name="ngModel" required>
                            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                                <div *ngIf="name.errors?.required"> <p class="error">The Name field is required</p></div>

                            </div>
                        </div>
                        <div class="form-field">
                            <label for="">Size</label>
                            <input type="number" #size="ngModel" required name="size" placeholder="35" [(ngModel)]="classData.size"> 
                            <div *ngIf="f.submitted && size.invalid" class="invalid-feedback">
                                <div *ngIf="size.errors?.required"> <p class="error">The Size field is required</p></div>

                            </div>
                        </div>
                        <div class="form-field">
                            <label for="">Laboratory</label>
                            <select  #lab="ngModel" required name="lab" [(ngModel)]="classData.isLab" (change)="checkIsLab($event)">
                                <option value="false" selected=" true">False</option>
                                <option value="true">True</option>
                              
                            </select>
                            <div *ngIf="f.submitted && lab.invalid" class="invalid-feedback">
                                <div *ngIf="lab.errors?.required"> <p class="error">The Lab field is required</p></div>

                            </div>
                        </div>
                      
                 
                        <div class="form-field " style="height: 100%; width: 100%;" *ngIf="showDepartments">
                          
                            <label for="">For Departments</label>
                            <p *ngIf="!hasDepartments" style="color: indianred;">No Department Created yet. A course must be assigned to aleast one department or general. <a style="color: indigo; text-decoration: underline;" [routerLink]="['/courses']"> Add Course</a> </p>
                              <div class=" seletedCourses" *ngIf="hasDepartments && showDepartments">
                                  <div class="login-remember" *ngFor="let item of departmentList">
                                      <div class="default-check">
                                     
                                          <input type="checkbox" (change)="checkDepartment($event,item._id)"  id="english">
                                          <span>
                                              <label [for]="item.title">{{item.name}}</label>
                                          </span>
                                      </div>
                                  </div>
                                 
                                  
                              </div>

                             
                            
                          </div>
                        <div class="btn-flex">
                            <button class="btn btn-green" type="submit">Add New</button>
                            <!-- <a class="btn btn-green">Add New</a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
