<div class="section">
    <div class="flex-4">
        <a  class="stat-card">
            <div class="stat-name">Courses</div>
            <div class="stat-value">{{courseNumber}}</div>
        </a>
        <a  class="stat-card">
            <div class="stat-name">Departments</div>
            <div class="stat-value">{{departmentNumber}}</div>
        </a>
        <a  class="stat-card">
            <div class="stat-name">Lecturers</div>
            <div class="stat-value">{{lecturersNumber}}</div>
        </a>
        <a  class="stat-card">
            <div class="stat-name">Campuses</div>
            <div class="stat-value">{{campusNumber}}</div>
        </a>
    </div>
</div>