<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a  class="crumb-item">Dashboard</a>
                <span>></span>
                <a  class="crumb-item">Time Table</a>
            </div>
        </div>

 <div class="section">
    <div class="parent-con">
        <div class="data-table">
            <div class="top">
                <div class="span">
                    <h1 *ngIf="dataLoaded">Time Table for {{tableData.name}}</h1>
                    <h1 *ngIf="!dataLoaded">Time Table</h1>
                </div>
             
                    <!-- <input type="search" name="" id="" placeholder="Find ..."> -->
                    <div style="display: flex;">
                       
                        <div class="btn-flex " style="padding-right: 10px;" *ngIf="showSemester">
                            <select name="semsester" class=" my-select" style="padding-left: 10px;" (change)="selectSemester($event)">
                                <option [value]="item._id" *ngFor="let item of semesters">{{item.name}}</option>
                 
                       </select>
                       </div>
                       <div class="btn-flex " style="padding-right: 10px;" *ngIf="showDepartment">
                           <select name="department" class=" my-select" style="padding-left: 10px;"  (change)="selectDepartment($event)">
                          <option [value]="item._id" *ngFor="let item of departments">{{item.name}}</option>
                      </select>
                      </div>
                      <button (click)="downloadAsPDF()" class="btn btn-green" style="padding: 10px;"> <i class="fa fa-download"></i></button>
                    </div>
                    <!-- <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> -->
               
            </div>
            <div class="table-con" id="pdfTable" #pdfTable>
                <p *ngIf="!dataLoaded">No Time Table Generated for selected semester and Department</p>
                <table *ngIf="dataLoaded">
                    
                    <thead>
                        <tr>
                            <th class="name">Time</th>
                            <th class="name">Monday</th>
                            <th class="name">Tuesday</th>
                            <th class="name">Wednesday</th>
                            <th class="name">Thursday</th>
                            <th class="name">Friday</th>
                            <th class="name">Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="flex-start">8H - 10H</td>
                            <td class="flex-start" *ngFor="let item of dataToDisplay.firstPeriod">
                                <p>{{item.course}}</p>
                                <p>{{item.lecturer}}</p>
                            </td>
                           
                           

                          
                        </tr>
                        <tr>
                            <td class="flex-start">10H - 12H</td>
                            <td class="flex-start" *ngFor="let item of dataToDisplay.secPeriod">
                                <p>{{item.course}}</p>
                                <p>{{item.lecturer}}</p>
                            </td>
                           
                        </tr>
                        <tr>
                            <td class="flex-start"></td>
                            <td class="flex-start">
                               
                            </td>
                            <td class="flex-start">
                               
                            </td>
                            <td class="flex-start">
                               
                            </td>
                             <td class="flex-start">
                              
                            </td>
                            <td class="flex-start">
                               
                            </td>

                            <td class="flex-start">
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="flex-start">13H - 15H</td>
                            <td class="flex-start" *ngFor="let item of dataToDisplay.thirdPeriod">
                                <p>{{item.course}}</p>
                                <p>{{item.lecturer}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="flex-start">15H - 17H</td>
                            <td class="flex-start" *ngFor="let item of dataToDisplay.fourthPeriod">
                                <p>{{item.course}}</p>
                                <p>{{item.lecturer}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
</div>
</div>