<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a href="index.html" class="crumb-item">Dashboard</a>
                <span>></span>
                <a  class="crumb-item">Time Table</a>
            </div>
        </div>

 <div class="section">
    <div class="parent-con">
        <div class="data-table">
            <div class="top">
                <div class="span">
                    <h1>Time Table for SWE2</h1>
                </div>
             
                    <!-- <input type="search" name="" id="" placeholder="Find ..."> -->
                    <div class="btn-flex " style="padding-right: 10px;">
                         <select name="department" class=" my-select" style="padding-left: 10px;">
                        <option value="Swe2">SWE2</option>
                        <option value="Swe1">SWE1</option>
                        <option value="MIT2">MIT2</option>
                    </select>
                    </div>
                   
                    <!-- <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> -->
               
            </div>
            <div class="table-con">
                <table>
                    <thead>
                        <tr>
                            <th class="name">Time</th>
                            <th class="name">Monday</th>
                            <th class="name">Tuesday</th>
                            <th class="name">Wednesday</th>
                            <th class="name">Thursday</th>
                            <th class="name">Friday</th>
                            <th class="name">Saturday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="flex-start">8H - 10H</td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                             <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>

                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="flex-start">10H - 12H</td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                             <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>

                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="flex-start"></td>
                            <td class="flex-start">
                               
                            </td>
                            <td class="flex-start">
                               
                            </td>
                            <td class="flex-start">
                               
                            </td>
                             <td class="flex-start">
                              
                            </td>
                            <td class="flex-start">
                               
                            </td>

                            <td class="flex-start">
                                
                            </td>
                        </tr>
                        <tr>
                            <td class="flex-start">13H - 15H</td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                             <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>

                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="flex-start">15H - 17H</td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                             <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>

                            <td class="flex-start">
                                <p>Course Title</p>
                                <p>Lecturer</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
</div>
</div>