<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Mailing Form </p>
            <div class="crumb">
                <a href="index.html" class="crumb-item">Dashboard</a>
                <span>></span>
                <a href="" class="crumb-item">Mailer</a>
            </div>
        </div>

        <div class="section">
            <div class="flex-2-1 category">
                <div>
                    <div class="create-post-section parent-con">
                        <div class="title border">
                            <p>Mail</p>
                        </div>
                        <form class="">
                            <div class="form-section">
                                <div class="form-field">
                                    <label for="">Subject</label>
                                    <input type="text" name=""  placeholder="Economics">
                                </div>
                                <!-- <div class="form-field">
                                    <label for="">Recipients</label>
                                    <input type="text" name=""  placeholder="Economics">
                                </div> -->
                                <div class="form-field">
                                    <label for="">Message</label>
                                   <textarea name="message" cols="30" rows="10"></textarea>
                                </div>
                                <div class="btn-flex">
                                    <button class="btn btn-green">Send Mail</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div>
                    <div class="create-category parent-con">
                        <div class="title border">
                            <p>Select Target</p>
                        </div>
                        <form class="">
                            <div class="form-section">
                             
                                    <div class="btn-flex " style="padding-right: 10px;">
                                        <select name="department" class=" my-select" style="padding: 10px;">
                                      <option value="Swe2">All</option>
                                       <option value="Swe2">Campus A</option>
                                       <option value="Swe2">SWE2</option>
                                       <option value="Swe1">SWE1</option>
                                       <option value="MIT2">MIT2</option>
                                   </select>
                                   </div>
                                
                                <div class="form-field">
                                    <!-- <label for="">Send to</label> -->
                                    <div class="flex">
                                        <div class="login-remember">
                                            <div class="default-check">
                                                <input type="checkbox" name="english" id="english">
                                                <span>
                                                    <label for="english">Lecturers</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="login-remember">
                                            <div class="default-check">
                                                <input type="checkbox" name="french" id="french">
                                                <span>
                                                    <label for="french">Students</label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
