<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a href="index.html" class="crumb-item">Dashboard</a>
                <span>></span>
                <a href="" class="crumb-item">Home</a>
            </div>
        </div>

        <div class="section">
            <div class="flex-4">
                <a href="" class="stat-card">
                    <div class="stat-name">Total of Posts</div>
                    <div class="stat-value">60</div>
                </a>
                <a href="" class="stat-card">
                    <div class="stat-name">Pages</div>
                    <div class="stat-value">16</div>
                </a>
                <a href="" class="stat-card">
                    <div class="stat-name">Users</div>
                    <div class="stat-value">43</div>
                </a>
                <a href="" class="stat-card">
                    <div class="stat-name">Mail</div>
                    <div class="stat-value">64</div>
                </a>
            </div>
        </div>

        <div class="section">
            <div class="stat-con">
                <div class="flex">
                    <div class="chart-con">
                        <div class="chart-top">
                            <div class="chart-title">
                                <div class="chart-name">Statistics Here</div>
                                <div class="chart-time">as of 09 June 2021, 09:41 PM</div>
                            </div>
                            <div class="chart-tags">
                                <div class="tag active">Today</div>
                                <div class="tag">Yesterday</div>
                            </div>
                        </div>
                        <img src="./assets/images/svg/graph.svg" alt="">
                    </div>
                    <div class="chart-stats">
                        <div class="chart-stat">
                            <div class="name">Resolved</div>
                            <div class="value">449</div>
                        </div>
                        <div class="chart-stat">
                            <div class="name">Received</div>
                            <div class="value">426</div>
                        </div>
                        <div class="chart-stat">
                            <div class="name">Average first response time</div>
                            <div class="value">33m</div>
                        </div>
                        <div class="chart-stat">
                            <div class="name">Average response time</div>
                            <div class="value">3h 8m</div>
                        </div>
                        <div class="chart-stat">
                            <div class="name">Resolution within SLA</div>
                            <div class="value">94%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-2">
            <div class="section">
                <div class="parent-con">
                    <div class="title">
                        <span><i class="fa fa-file" aria-hidden="true"></i>latest pages</span>
                        <a href="" class="btn btn-white">View all</a>
                    </div>
                    <div class="latest-pages">
                        <div class="latest-page">
                            <p>Homepage</p>
                            <a href=""><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="latest-page">
                            <p>Contact us</p>
                            <a href=""><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="latest-page">
                            <p>Write</p>
                            <a href=""><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="latest-page">
                            <p>I say hein</p>
                            <a href=""><i class="fas fa-edit"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="parent-con">
                    <div class="title">
                        <span><i class="fa fa-bell" aria-hidden="true"></i>Notifications</span>
                        <a href="" class="btn btn-white">View all</a>
                    </div>
                    <div class="notifications">
                        <a href="" class="notification notify">
                            <div class="icon">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <div class="name">5 new members joined today</div>
                                <div class="sub">One minute ago</div>
                            </div>
                        </a>
                        <a href="" class="notification">
                            <div class="icon">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <div class="name">5 new members joined today</div>
                                <div class="sub">One minute ago</div>
                            </div>
                        </a>
                        <a href="" class="notification">
                            <div class="icon">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <div class="name">5 new members joined today</div>
                                <div class="sub">One minute ago</div>
                            </div>
                        </a>
                        <a href="" class="notification">
                            <div class="icon">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <div class="name">5 new members joined today</div>
                                <div class="sub">One minute ago</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
