<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a  class="crumb-item">Dashboard</a>
                <span>></span>
                <a class="crumb-item">Home</a>
            </div>
        </div>

      <app-stats></app-stats>

       
        <div class="flex-2">
            <div class="section">
                <div class="parent-con">
                    <div class="title">
                        <span><i class="fa fa-file" aria-hidden="true"></i>Pages</span>
                        <!-- <a href="" class="btn btn-white">View all</a> -->
                    </div>
                    <div class="latest-pages">
                        <div class="latest-page">
                            <p>Departments</p>
                            <a [routerLink]="['/departments']" ><i class="fas fa-eye"></i></a>
                        </div>
                        <div class="latest-page">
                            <p>Courses</p>
                            <a [routerLink]="['/courses']" ><i class="fas fa-eye"></i></a>
                        </div>
                        <div class="latest-page">
                            <p>Campuses</p>
                            <a [routerLink]="['/campus']" ><i class="fas fa-eye"></i></a>
                        </div>
                        <div class="latest-page">
                            <p>Lecturers</p>
                            <a [routerLink]="['/lecturers']" ><i class="fas fa-eye"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="parent-con">
                    <div class="title">
                        <span><i class="fa fa-bell" aria-hidden="true"></i>Notifications</span>
                        <a href="" class="btn btn-white">View all</a>
                    </div>
                    <div class="notifications">
                        <a href="" class="notification notify">
                            <div class="icon">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <div class="name">5 new members joined today</div>
                                <div class="sub">One minute ago</div>
                            </div>
                        </a>
                        <a href="" class="notification">
                            <div class="icon">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <div class="name">5 new members joined today</div>
                                <div class="sub">One minute ago</div>
                            </div>
                        </a>
                        <a href="" class="notification">
                            <div class="icon">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <div class="name">5 new members joined today</div>
                                <div class="sub">One minute ago</div>
                            </div>
                        </a>
                        <a href="" class="notification">
                            <div class="icon">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </div>
                            <div class="info">
                                <div class="name">5 new members joined today</div>
                                <div class="sub">One minute ago</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
