<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a href="index.html" class="crumb-item">Dashboard</a>
                <span>></span>
                <a href="" class="crumb-item">Generate</a>
            </div>
        </div>

        <div class="section">
            <div class="flex-4">
                <button  class="stat-card">
                    <div class="stat-name">Courses</div>
                    <div class="stat-value">60</div>
                </button>
                <button  class="stat-card">
                    <div class="stat-name">Departments</div>
                    <div class="stat-value">16</div>
                </button>
                <button  class="stat-card">
                    <div class="stat-name">Lecturers</div>
                    <div class="stat-value">43</div>
                </button>
                <button  class="stat-card">
                    <div class="stat-name">Campuses</div>
                    <div class="stat-value">64</div>
                </button>
            </div>
        </div>

      
     
            <div class="section">
                <div class="parent-con">
                    <div class="title">
                        <span><i class="fa fa-file" aria-hidden="true"></i>Generate</span>
                       
                    </div>
                    <div  style="width: 60%; margin: auto;">
                        <div style="display: inline; text-align: center;">
                            <h3>Select a Campus to generate its time and class tables</h3>
                           <!-- <p><a class="btn add"><i class="fa fa-plus"></i> </a></p>  -->
                            <br>
                          <p> <select name="department" class=" " style="padding: 10px;">
                          
                             <option value="Swe2">Campus A</option>
                             <option value="Swe2">Campus B</option>
                             <option value="Swe1">Campus C</option>
                             <option value="MIT2">Campus D</option>
                         </select></p>
                         <br>./``-=]hjgfdsA `1` `35780-p[;lhjuiop0[
                         ]'?.l;op-\
                         \\
                         ]]
                         <p> <button class="gen-btn">Generate <i class="fa fa-atom" aria-hidden="true"></i></button></p>
                        </div>
                        
                        <!-- <div class=" " style="padding-right: 10px; width: 10%; display: inline;">
                            <select name="department" class=" my-select" style="padding: 10px;">
                          <option value="Swe2">All</option>
                           <option value="Swe2">Campus A</option>
                           <option value="Swe2">SWE2</option>
                           <option value="Swe1">SWE1</option>
                           <option value="MIT2">MIT2</option>
                       </select>
                       </div> -->
                    </div>
                </div>
            </div>

    </div>
</div>
