<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a href="index.html" class="crumb-item">Dashboard</a>
                <span>></span>
                <a  class="crumb-item">Seatings</a>
            </div>
        </div>

 <div class="section">
    <div class="parent-con">
        <div class="data-table">
            <div class="top">
                <div class="span">
                    <h1>Seatings Table</h1>
                </div>
             
                    <!-- <input type="search" name="" id="" placeholder="Find ..."> -->
                    <div class="options">
                    <div class="btn-flex " style="padding-right: 10px;" *ngIf="showDepartment">
                         <select name="department" class=" my-select" style="padding-left: 10px;" (change)="selectDepartment($event)">
                        <option [value]="item._id" selected="true" *ngFor="let item of departments">{{item.name}}</option>
                        
                    </select>
                    </div>
                    <div class="btn-flex " style="padding-right: 10px;" *ngIf="showSemester">
                        <select name="semester" class=" my-select" style="padding-left: 10px;" (change)="selectSemester($event)">
                            <option [value]="item._id" selected="true" *ngFor="let item of semesters">{{item.name}}</option>
                   </select>
                   </div>
                </div>
                    <!-- <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> -->
               
            </div>
            
            <div class="table-con">
                <table>
                    <thead>
                        <tr>
                            <th class="name" rowspan="2" >Departments</th>
                            <th class="name" colspan="2">Monday</th>
                            <th class="name" colspan="2">Tuesday</th>
                            <th class="name" colspan="2">Wednesday</th>
                            <th class="name" colspan="2">Thursday</th>
                            <th class="name" colspan="2">Friday</th>
                            <th class="name" colspan="2">Saturday</th>
                            <th rowspan="1"></th>
                        </tr>
                        <tr>
                            <th class="name">Morning</th>
                            <th class="name">Afternoon</th>
                            <th class="name">Morning</th>
                            <th class="name">Afternoon</th>
                            <th class="name">Morning</th>
                            <th class="name">Afternoon</th>
                            <th class="name">Morning</th>
                            <th class="name">Afternoon</th>
                            <th class="name">Morning</th>
                            <th class="name">Afternoon</th>
                            <th class="name">Morning</th>
                            <th class="name">Afternoon</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <td class="flex-center">SWE2</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">Labo 6</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">D36</td>
                            <td class="flex-center">D39</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">G01</td>
                            <td class="flex-center">G03</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">D33</td>
                            <td class="flex-center">D13</td>
                           
                        </tr>
                        <tr>
                            <td class="flex-center">SWE1</td>
                            <td class="flex-center">G03</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">D09</td>
                            <td class="flex-center">D33</td>
                            <td class="flex-center">D13</td>
                            <td class="flex-center">D16</td>
                            <td class="flex-center">Labo 6</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">D36</td>
                            <td class="flex-center">D39</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">G01</td>
                        </tr>
                        <tr>
                            <td class="flex-center">MIT2</td>
                           
                            <td class="flex-center">D33</td>
                            <td class="flex-center">D13</td>
                            <td class="flex-center">D16</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">G03</td>
                            <td class="flex-center">D09</td>
                         
                            <td class="flex-center">Labo 7</td>
                            <td class="flex-center">D39</td>
                            <td class="flex-center">D01</td>
                            <td class="flex-center">G01</td>
                            <td class="flex-center">D10</td>
                            <td class="flex-center">D36</td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
</div>
</div>