<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a class="crumb-item">Dashboard</a>
                <span>></span>
                <a class="crumb-item">Seatings</a>
            </div>
        </div>

        <div class="section">
            <div class="parent-con">
                <div class="data-table">
                    <div class="top">
                        <div class="span">
                            <h1>Seatings Table</h1>
                        </div>

                        <!-- <input type="search" name="" id="" placeholder="Find ..."> -->
                        <div class="options">
                            <div class="btn-flex " style="padding-right: 10px;" *ngIf="showDepartment">
                                <select name="department" class=" my-select" style="padding-left: 10px;"
                                    (change)="selectDepartment($event)">
                                    <option value="all" selected="true">All</option>
                                    <option [value]="item._id" *ngFor="let item of departments">{{item.name}}</option>

                                </select>
                            </div>
                            <div class="btn-flex " style="padding-right: 10px;" *ngIf="showSemester">
                                <select name="semester" class=" my-select" style="padding-left: 10px;"
                                    (change)="selectSemester($event)">
                                    <option [value]="item._id" *ngFor="let item of semesters">{{item.name}}</option>
                                </select>
                            </div>
                            <button class="btn btn-green" (click)="downloadAsPDF()" style="padding: 10px;"> <i
                                    class="fa fa-download"></i></button>
                        </div>
                        <!-- <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> -->

                    </div>
                    <p *ngIf="!hasGeneratedData">No Time table generated for selected Semester</p>
                    <div *ngIf="hasGeneratedData">
                        <div class="table-con"style="overflow-x: scroll;"   id="pdfTable" #pdfTable >

                            <div>
                                <table > 
                                    <thead>
                                        <tr>
                                            <th class="name" rowspan="2" >Departments</th>
                                            <th class="name" colspan="2">Monday</th>
                                            <th class="name" colspan="2">Tuesday</th>
                                            <th class="name" colspan="2">Wednesday</th>
                                            <th class="name" colspan="2">Thursday</th>
                                            <th class="name" colspan="2">Friday</th>
                                            <th class="name" colspan="2">Saturday</th>
                                            <th rowspan="1" ></th>
                                        </tr>
                                        <tr>
                                            <th class="name">Morning</th>
                                            <th class="name">Afternoon</th>
                                            <th class="name">Morning</th>
                                            <th class="name">Afternoon</th>
                                            <th class="name">Morning</th>
                                            <th class="name">Afternoon</th>
                                            <th class="name">Morning</th>
                                            <th class="name">Afternoon</th>
                                            <th class="name">Morning</th>
                                            <th class="name">Afternoon</th>
                                            <th class="name">Morning</th>
                                            <th class="name">Afternoon</th>
                                            <th></th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of tableData">
                                            <td class="flex-center">{{item.department.name}}</td>
                                            <td class="flex-center">{{item.table[0].Monday.morning}}</td>
                                            <td class="flex-center">{{item.table[0].Monday.afternoon}}</td>
                                            <td class="flex-center">{{item.table[0].Tuesday.morning}}</td>
                                            <td class="flex-center">{{item.table[0].Tuesday.afternoon}}</td>
                                            <td class="flex-center">{{item.table[0].Wednesday.morning}}</td>
                                            <td class="flex-center">{{item.table[0].Wednesday.afternoon}}</td>
                                            <td class="flex-center">{{item.table[0].Thursday.morning}}</td>
                                            <td class="flex-center">{{item.table[0].Thursday.afternoon}}</td>
                                            <td class="flex-center">{{item.table[0].Friday.morning}}</td>
                                            <td class="flex-center">{{item.table[0].Friday.afternoon}}</td>
                                            <td class="flex-center">{{item.table[0].Saturday.morning}}</td>
                                            <td class="flex-center">{{item.table[0].Saturday.afternoon}}</td>
                                           <td></td>
                                     </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>