<header>
    <div class="con">
        <div class="nav-toggler-btn" (click)="toggle()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <span>
    
          
           
            <!-- <div><Button (click)="startTour()" class="btn btn-green">Tour </Button></div> -->
            <a  (click)="startTour()"class="link ">
                <i class="fa fa-info-circle"></i>
            </a>
            <div class="divider"></div>
            <div class="profile-btn profile" (click)="profileBtn()">
                <div class="name">Admin</div>
                <img src="./assets/images/users/user-1.png" alt="">
            </div>
        </span>
    </div>
</header>