<header>
    <div class="con">
        <div class="nav-toggler-btn" (click)="toggle()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <span>
            <form action="" class="search">
                <input type="search" name="" id="" placeholder="Find ...">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <div class="search-btn" (click)="toggleSearchForm()">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <a href="" class="link notify">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <a href="" class="link notify">
                <i class="fa fa-bell" aria-hidden="true"></i>
            </a>
            <div class="divider"></div>
            <div class="profile-btn" (click)="profileBtn()">
                <div class="name">Admin</div>
                <img src="./assets/images/users/user-1.png" alt="">
            </div>
        </span>
    </div>
</header>