<div class="sidebar">
    <div class="logo">
        <a [routerLink]="['/home']"><img src="./assets/images/logo/logo.png" alt=""></a>
    </div>
    <div class="menu">
        <div class="sub-menu">
            <div class="title">MAIN NAVIGATION</div>
            <a class="link " [routerLink]="['/home']" routerLinkActive="active"  >
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Home</span>
            </a>
            <a class="link" [routerLink]="['/courses']" routerLinkActive="active">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span>Courses</span>
            </a>
            <a class="link"[routerLink]="['/campus']" routerLinkActive="active" >
                <i class="fa fa-university" aria-hidden="true"></i>
                <span>Campuses</span>
            </a>
            <a class="link"  [routerLink]="['/lecturers']" routerLinkActive="active">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Lecturers</span>
            </a>
            <a class="link" [routerLink]="['/departments']" routerLinkActive="active">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Departments</span>
            </a>
            <a class="link" [routerLink]="['/time-table']" routerLinkActive="active">
                <i class="fa fa-clock" aria-hidden="true"></i>
                <span>Time Table</span>
            </a>
            <a class="link" href="publications.html">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Configurations</span>
            </a>
            <a class="link" href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Users</span>
            </a>
            <a class="link" href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>Mail</span>
            </a>
        </div>
        <div class="sub-menu">
            <div class="title">LABELS</div>
            <a class="link label" href="">
                <img src="./assets/images/icons/label.svg" alt="">
                <span>Admin</span>
            </a>
            <a class="link label" href="">
                <img src="./assets/images/icons/label.svg" alt="">
                <span>Editor</span>
            </a>
            <a class="link label" href="">
                <img src="./assets/images/icons/label.svg" alt="">
                <span>Publisher</span>
            </a>
            <a class="link label" href="">
                <img src="./assets/images/icons/label.svg" alt="">
                <span>Author</span>
            </a>
        </div>
    </div>
</div>
