<div class="sidebar">
    <div class="logo">
        <a href="index.html"><img src="./assets/images/logo/logo.png" alt=""></a>
    </div>
    <div class="menu">
        <div class="sub-menu">
            <div class="title">MAIN NAVIGATION</div>
            <a class="link active" href="create-post.html">
                <i class="fa fa-thumbtack" aria-hidden="true"></i>
                <span>Create New Post</span>
            </a>
            <a class="link" href="posts.html">
                <i class="fa fa-thumbtack" aria-hidden="true"></i>
                <span>View all posts</span>
            </a>
            <a class="link" href="manage-categories.html">
                <i class="fa fa-thumbtack" aria-hidden="true"></i>
                <span>Manage categories</span>
            </a>
            <a class="link" href="categories.html">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span>Pages</span>
            </a>
            <a class="link" href="mails.html">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span>Sent Mail</span>
            </a>
            <a class="link" href="write-mail.html">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span>Compose mail</span>
            </a>
            <a class="link" href="publications.html">
                <i class="fa fa-cog" aria-hidden="true"></i>
                <span>Configurations</span>
            </a>
            <a class="link" href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Users</span>
            </a>
            <a class="link" href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>Mail</span>
            </a>
        </div>
        <div class="sub-menu">
            <div class="title">LABELS</div>
            <a class="link label" href="">
                <img src="./assets/images/icons/label.svg" alt="">
                <span>Admin</span>
            </a>
            <a class="link label" href="">
                <img src="./assets/images/icons/label.svg" alt="">
                <span>Editor</span>
            </a>
            <a class="link label" href="">
                <img src="./assets/images/icons/label.svg" alt="">
                <span>Publisher</span>
            </a>
            <a class="link label" href="">
                <img src="./assets/images/icons/label.svg" alt="">
                <span>Author</span>
            </a>
        </div>
    </div>
</div>
