<main>
    <section class="authentification-page">
        <div class="authentication-page-illustration-img-container">
            <div class="welcome-message">
              <p>Welcome Back</p>
              <p>Nice to see you</p>
            </div>
            <img src="./assets/images/authentication-pages-illustration.svg" alt="">
        </div>
        <div class="authentication-form-container">
            <div class="logo-box">
              <img src="./assets/images/logo/logo-black.png" alt="" height="50">
            </div>
            <!-- login form -->
            <!-- <form class="authentication-form">
              <p>Login</p>
              <div class="input-with-icon-form-group u-margin-bottom-small">
                <i class="fas fa-user text-primary"></i>
                <input type="text" placeholder="Username">
              </div>
              <div class="input-with-icon-form-group">
                <i class="fas fa-lock text-primary"></i>
                <input type="password" placeholder="Password">
              </div>
              <div class="remember-me-checkbox u-margin-top-extra-small u-margin-bottom-small">
                <input type="checkbox" name="" id="">
                <span>Remember me</span>
              </div>
             
            </form> -->
            <form class="authentication-form" (ngSubmit)="f.form.valid && submit()" #f="ngForm">
              
               
                <p>Login</p>
                <h4 *ngIf="error" class="error">The Email or Password is wrong. Please try again</h4>
                    <div class="form-field u-margin-bottom-small">
                       
                    
                        <i class="fas fa-user "></i>
                        <input type="email" name="email" id="email" placeholder="Email" #emaill="ngModel" [(ngModel)]="email" required email>
                       
                    </div>
                    <div *ngIf="f.submitted && emaill.invalid" class="invalid-feedback">
                      <div *ngIf="emaill.errors?.required"> <h5 class="error">An Email list is required</h5></div>
                      <div *ngIf="emaill.errors?.email"> <h5 class="error">The text entererd must be an email</h5></div>
                
                  </div>
                    <div class="form-field u-margin-bottom-small">
                        
                       
                        <i class="fas fa-lock "></i>
                        <input type="password" name="password" id="password" placeholder="Password" #pass="ngModel" [(ngModel)]="password" required minlength="4">
                       
                    </div>
                    <div *ngIf="f.submitted && pass.invalid" class="invalid-feedback">
                      <div *ngIf="pass.errors?.required"> <h5 class="error">Password is required</h5></div>
                      <div *ngIf="pass.errors?.minlength"> <h5 class="error">Password is must be atleast 4 characters</h5></div>
                
                  </div>
                    <div class="btn-flex">
                          <input type="submit" value="Login" class="btn btn-green" >
                    </div>
                  
            </form>
             <p class="u-padding-top-small">Forgot password? <a href="" class="text-primary">Click Here</a></p>
             
        </div>
    </section>
</main>
