<main>
    <section class="authentification-page">
        <div class="authentication-page-illustration-img-container">
            <div class="welcome-message">
              <p>Welcome Back</p>
              <p>Nice to see you</p>
            </div>
            <img src="./assets/images/authentication-pages-illustration.svg" alt="">
        </div>
        <div class="authentication-form-container">
            <div class="logo-box">
              <img src="./assets/images/logo/logo-black.png" alt="" height="50">
            </div>
            <!-- login form -->
            <!-- <form class="authentication-form">
              <p>Login</p>
              <div class="input-with-icon-form-group u-margin-bottom-small">
                <i class="fas fa-user text-primary"></i>
                <input type="text" placeholder="Username">
              </div>
              <div class="input-with-icon-form-group">
                <i class="fas fa-lock text-primary"></i>
                <input type="password" placeholder="Password">
              </div>
              <div class="remember-me-checkbox u-margin-top-extra-small u-margin-bottom-small">
                <input type="checkbox" name="" id="">
                <span>Remember me</span>
              </div>
             
            </form> -->
            <form class="authentication-form">
                <p>Login</p>
                    <div class="form-field u-margin-bottom-small">
                       
                    
                        <i class="fas fa-user "></i>
                        <input type="email" name="" id="" placeholder="Email">
                    </div>
                    <div class="form-field u-margin-bottom-small">
                        
                       
                        <i class="fas fa-lock "></i>
                        <input type="password" name="" id="" placeholder="Password">
                       
                    </div>
                    <div class="btn-flex">
                          <input type="submit" value="Login" class="btn btn-green">
                    </div>
                  
            </form>
             <p class="u-padding-top-small">Forgot password? <a href="" class="text-primary">Click Here</a></p>
             
        </div>
    </section>
</main>
