<div class="section">
    <div class="flex-2-1 category">
        <div>
            <div class="parent-con">
                <div class="title border">
                    <p>All Campuses</p>
                </div>
                <div class="table-con">
                    <table *ngIf="dataLoaded">
                        <thead>
                            <tr>
                                <th class="num">#</th>
                                <th class="name" >Campus Name</th>
                                <th class="action">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td class="flex-center">#</td>
                                <td class="flex-strat">{{item.name}}</td>
                                <td class="flex-center">
                                    <div class="action">
                                        <a [routerLink]="['edit-campus',item._id]" routerLinkActive="router-link-active"  class="edit"><i class="fa fa-pen" aria-hidden="true"></i></a>
                                        <a (click)="showDeleteBtn(item._id)" *ngIf="!item.showDelete" class="patial-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        <a (click)="delete(item._id)" *ngIf="item.showDelete"  class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </div>
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <div class="create-category parent-con">
                <div class="title border">
                    <p>Add Campus</p>
                </div>
                <form class="" (ngSubmit)="addCampus()">
                    <div class="form-section">
                        <div class="form-field">
                            <label for="">Campus name</label>
                            <input minlength="1" type="text" name="title" id="" placeholder="Campus A" [(ngModel)]="title">
                        </div>
                        <div class="btn-flex">
                            <button type="submit" class="btn btn-green">Add New</button>
                            <!-- <a class="btn btn-green">Add New</a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>