<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a href="index.html" class="crumb-item">Dashboard</a>
                <span>></span>
                <a  class="crumb-item">Courses</a>
            </div>
        </div>
        <div class="section">
            <div class="flex-2-1 category">
                <div>
                    <div class="parent-con">
                        <div class="title border">
                            <p>All Courses</p>
                        </div>
                        <div class="table-con">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="num">#</th>
                                        <th class="name">Course Name</th>
                                        <th class="action">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Course name</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Course name</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Course name</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Course name</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Course name</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="create-category parent-con">
                        <div class="title border">
                            <p>Add Course</p>
                        </div>
                        <form class="">
                            <div class="form-section">
                                <div class="form-field">
                                    <label for="">Course name</label>
                                    <input type="text" name="" id="" placeholder="Course A">
                                </div>
                                <div class="form-field">
                                    <label for="">Description</label>
                                    <textarea type="text" name="" ></textarea>
                                </div>
                                <div class="btn-flex">
                                    <button class="btn btn-green" (click)="getData()">Add New</button>
                                    <!-- <a class="btn btn-green">Add New</a> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div></div>