<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a  class="crumb-item">Dashboard</a>
                <span>></span>
                <a  class="crumb-item">Courses</a>
            </div>
        </div>
       
        <div class="section">
            <div class=" flex-2-1 category">
                <div>
                    <div class="parent-con">
                       
                        <div class="data-table">
                            <div class="top">
                                <div class="span">
                                    <h1>All Courses</h1>
                                </div>
                             
                                   
                                  <div style="display: flex; align-items: center;">
                                    <div class="btn-flex " style="padding-right: 10px;">
                                        <select name="department" class=" my-select" style="padding-left: 10px;" #departments (change)='selectCoursesByDepartMent(departments.value)'>
                                       <option value="all">All</option>
                                       <option *ngFor='let opt of departmentList' [value]="opt._id">{{opt.name}}</option>
                                      
                                   </select>
                                   </div>
                                   <!-- <button class="btn btn-green">Add Course <i class="fa fa-plus"></i> </button> -->
                                  
                              
                                  </div>
                            </div>
                        
                        <div class="table-con">
                            <p *ngIf="!hasCourses">No Course Created</p>
                            <table *ngIf="hasCourses">
                                <thead>
                                    <tr>
                                        <th class="num">#</th>
                                        <th class="name">Course Name</th>
                                        <th class="action">Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="loaded">

                                    <tr *ngFor="let item of data">
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">{{item.title}}</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a  class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a (click)="showDeleteBtn(item._id)" *ngIf="!item.showDelete" class="patial-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                <a (click)="deleteCourse(item._id)" *ngIf="item.showDelete"  class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr> 
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
                <div>
                    <div class="create-category parent-con">
                        <div class="title border">
                            <p>Add Course</p>
                        </div>
                        <form class="" (ngSubmit)="f.form.valid &&  createCourse()" #f="ngForm">
                            <div class="form-section">
                                <div class="form-field">
                                    <label for="">Course title</label>
                                    <input type="text" name="title" id="" #tilt="ngModel"  required minlength="4"  placeholder="Course A" [(ngModel)]="title">
                                    <div *ngIf="f.submitted && tilt.invalid" class="invalid-feedback">
                                        <div *ngIf="tilt.errors?.required"> <p class="error">Title is required</p></div>
                                        <div *ngIf="tilt.errors?.minlength"> <p class="error">Title must be atleast 4 characters</p></div>
                                  
                                    </div>
                                </div>
                                
                                <label for="">Departments</label>
                                <div class="form-field " style="height: 100%; width: 100%;">
                                    <p *ngIf="!hasDepartments" style="color: indianred;">No Department Created yet. A course must be assigned to aleast one department or general. <a style="color: indigo; text-decoration: underline;" [routerLink]="['/courses']"> Add Course</a> </p>
                                      <div class=" " *ngIf="hasDepartments">
                                          <div class="login-remember" >
                                              <div class="default-check">
                                                  <input type="checkbox" (change)="selectGeneral($event)" name="general" id="general">
                                                  <span>
                                                      <label >Genaral</label>
                                                  </span>
                                              </div>
                                          </div>
                                         
                                          
                                      </div>
  
                                     
                                    
                                  </div>
                                <div class="form-field " style="height: 100%; width: 100%;" *ngIf="!generalCourse">
                                    <p *ngIf="!hasDepartments" style="color: indianred;">No Department Created yet. A course must be assigned to aleast one department or general. <a style="color: indigo; text-decoration: underline;" [routerLink]="['/courses']"> Add Course</a> </p>
                                      <div class=" seletedCourses" *ngIf="hasDepartments">
                                          <div class="login-remember" *ngFor="let item of departmentList">
                                              <div class="default-check">
                                                  <input type="checkbox" (change)="checkDepartment($event,item._id)" [name]="item.title" id="english">
                                                  <span>
                                                      <label [for]="item.title">{{item.name}}</label>
                                                  </span>
                                              </div>
                                          </div>
                                         
                                          
                                      </div>
  
                                     
                                    
                                  </div>
                                  <label for="">Lecturer</label>
                                  <div class="form-field " style="height: 100%; width: 100%;" *ngIf="hasLecturers">
                                    <p *ngIf="!hasLecturers" style="color: indianred;">No Lecturer Created yet. A course must be assigned to aleast one lecturer. <a style="color: indigo; text-decoration: underline;" [routerLink]="['/courses']"> Add Course</a> </p>
                                      <div class=" seletedCourses" *ngIf="hasLecturers">
                                          <div class="login-remember" *ngFor="let item of lecturers">
                                              <div class="default-check">
                                                  <input type="checkbox" (change)="checkLecturer($event,item._id)" [name]="item.title" id="english">
                                                  <span>
                                                      <label [for]="item.title">{{item.name}}</label>
                                                  </span>
                                              </div>
                                          </div>
                                         
                                          
                                      </div>
  
                                     
                                    
                                  </div>
                                <div class="form-field">
                                    <label for="">Description</label>
                                    <textarea type="text" name="description" #desc="ngModel" required [(ngModel)]="description"></textarea>
                                    <div *ngIf="f.submitted && desc.invalid" class="invalid-feedback">
                                        <div *ngIf="desc.errors?.required"> <p class="error">Description is required</p></div>
                                  
                                    </div>
                                </div>
                                <div  style="align-items: center;">
                                    <p *ngIf="!departmentSelected && !generalCourse" style="color: lightcoral;">Select one or more Departments. You can select the general option</p>
                                   
                                    <p *ngIf="!lecturerSelected" style="color: lightcoral;">Select one or more Lecturers.</p>
                                    <button class="btn btn-green" *ngIf="(departmentSelected || generalCourse) && lecturerSelected" >Add New</button>
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div></div>