.seletedCourses{
    max-height: 110px;
    overflow-y: scroll;
    display: flex;
   flex-wrap: wrap;
}
.login-remember{
    height: 30px;
    flex: 1 0 21%;
    margin: 5px;
   
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }