<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a  class="crumb-item">Dashboard</a>
                <span>></span>
                <a  class="crumb-item">Lecturers</a>
            </div>
        </div>
        <div class="section">
            <div class="flex-2-1 category">
                <div>
                    <div class="parent-con">
                        <div class="title border">
                            <p>All Lecturers</p>
                        </div>
                        <div class="table-con">
                            <p *ngIf="!hasLecturers">No lecturer added yet</p>
                            <table *ngIf="hasLecturers">
                                <thead>
                                    <tr>
                                      
                                        <th class="name">Lecturer Name</th>
                                        <th class="name">Email</th>
                                        <th class="name">Phone</th>
                                        <!-- <th class="name">Courses</th> -->
                                        <th class="action">Actions</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of lecturers">
                                      
                                        <td class="flex-strat">{{item.name}}</td>
                                        <td class="flex-strat">{{item.email}}</td>
                                        <td class="flex-strat">{{item.phone}}</td>
                                        <!-- <td class="flex-strat"><select name="" id="">
                                            <option *ngFor="let sub of item.courses" [value]="item.title" >{{sub.title}}</option>
                                        </select></td> -->

                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a (click)="showDeleteBtn(item._id)" *ngIf="!item.showDelete" class="patial-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                <a (click)="deleteCourse(item._id)" *ngIf="item.showDelete"  class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                 
                                   
                                   
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="create-category parent-con">
                        <div class="title border">
                            <p>Add Lecturer</p>
                        </div>
                        <form class="" (ngSubmit)="f.form.valid && addLecturer()"  #f="ngForm">
                            <div class="form-section">
                                <div class="form-field">
                                    <label for="">Lecturer name</label>
                                    <input type="text" name="name" required placeholder="Lecturer A" #name="ngModel"  [(ngModel)]="newLecturer.name">
                                    <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                                        <div *ngIf="name.errors?.required"> <p class="error">Lecturer name is required</p></div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label for="">Email</label>
                                    <input type="email" name="email" required placeholder="test@gmail.com" #email="ngModel"  [(ngModel)]="newLecturer.email" email>
                                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                        <div *ngIf="email.errors?.required"> <p class="error">Lecturer email is required</p></div>
                                        <div *ngIf="email.errors?.email"><p class="error">Email must be a valid email address</p></div>
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label for="">Phone</label>
                                    <input type="phone" name="phone" required placeholder="+237 676983069" #phone="ngModel"  [(ngModel)]="newLecturer.phone">
                                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                                        <div *ngIf="phone.errors?.required"> <p class="error">Lecturer phone is required</p></div>
                                    </div>
                                </div>
                                <!-- <label for="">Courses</label> -->
                                <!-- <div class="form-field " style="height: 100%; width: 100%;">
                                  <p *ngIf="!hasCourses" style="color: indianred;">No Course Created yet. A Lecturer must be assigned to aleast one course. <a style="color: indigo; text-decoration: underline;" [routerLink]="['/courses']"> Add Course</a> </p>
                                    <div class=" seletedCourses" *ngIf="hasCourses">
                                        <div class="login-remember" *ngFor="let item of courses">
                                            <div class="default-check">
                                                <input type="checkbox" (change)="checkCourse($event,item._id)" [name]="item.title" id="english">
                                                <span>
                                                    <label [for]="item.title">{{item.title}}</label>
                                                </span>
                                            </div>
                                        </div>
                                       
                                        
                                    </div>

                                   
                                  
                                </div> -->
                                <div class="btn-flex">
                                   <!-- <p *ngIf="!courseSelected" style="color: lightcoral;">Select one or more courses</p> -->
                                    <!-- <button *ngIf="hasCourses && courseSelected" class="btn btn-green">Add New</button> -->
                                    <button class="btn btn-green">Add New</button>
                                    <!-- <a class="btn btn-green">Add New</a> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div></div>