<div class="content">
    <div class="con">
        <div class="page-title">
            <p>Dashboard</p>
            <div class="crumb">
                <a href="index.html" class="crumb-item">Dashboard</a>
                <span>></span>
                <a  class="crumb-item">Lecturers</a>
            </div>
        </div>
        <div class="section">
            <div class="flex-2-1 category">
                <div>
                    <div class="parent-con">
                        <div class="title border">
                            <p>All Lecturers</p>
                        </div>
                        <div class="table-con">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="num">#</th>
                                        <th class="name">Lecturer Name</th>
                                        <th class="name">Email</th>
                                        <th class="name">Phone</th>
                                        <th class="name">Courses</th>
                                        <th class="action">Actions</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Lecturer name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>

                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Lecturer name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Lecturer name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Lecturer name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Lecturer name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="create-category parent-con">
                        <div class="title border">
                            <p>Add Lecturer</p>
                        </div>
                        <form class="">
                            <div class="form-section">
                                <div class="form-field">
                                    <label for="">Lecturer name</label>
                                    <input type="text" name="" placeholder="Lecturer A">
                                </div>
                                <div class="form-field">
                                    <label for="">Email</label>
                                    <input type="email" name="" placeholder="test@gmail.com">
                                </div>
                                <div class="form-field">
                                    <label for="">Phone</label>
                                    <input type="phone" name="" placeholder="+237 676983069">
                                </div>
                                <div class="form-field">
                                    <label for="">Courses</label>
                                    <div class="flex">
                                        <div class="login-remember">
                                            <div class="default-check">
                                                <input type="checkbox" name="english" id="english">
                                                <span>
                                                    <label for="english">English</label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="login-remember">
                                            <div class="default-check">
                                                <input type="checkbox" name="french" id="french">
                                                <span>
                                                    <label for="french">French</label>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="login-remember">
                                            <div class="default-check">
                                                <input type="checkbox" name="french" id="french">
                                                <span>
                                                    <label for="french">Maths</label>
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="btn-flex">
                                    <button class="btn btn-green">Add New</button>
                                    <!-- <a class="btn btn-green">Add New</a> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div></div>