<div class="section">
    <div class=" category">
        <div>
            <div class="parent-con">
                <div class="title border">
                    <p>Add a Department</p>
                    <!-- <a [routerLink]="['/departments/add-department']" class="btn btn-green" style="align-self: end;">Add Department <i class="fa fa-plus"></i></a> -->
                </div>
                <form class="" >
                    <div class="form-section">
                        <div class="form-field">
                            <label for="">Department Name</label>
                            <input type="text" name="title" id="" placeholder="Course A" >
                        </div>

                        <div class="form-field">
                            <label for="">Department Size</label>
                            <input type="text" name="title" id="" placeholder="Course A" >
                        </div>
                        <div class="form-field">
                            <label for="">Department Campus</label>
                            <input type="text" name="title" id="" placeholder="Course A" >
                        </div>
                        <div class="form-field">
                            <label for="">Session</label>
                            <input type="text" name="title" id="" placeholder="Course A" >
                        </div>
                        <div class="form-field">
                            <label for="">Description</label>
                            <textarea type="text" name="description" ></textarea>
                        </div>
                        <div class="btn-flex">
                            <button class="btn btn-green" >Add New</button>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
           
        </div>
    </div>
</div>
