
        <div class="section">
            <div class=" category">
                <div>
                    <div class="parent-con">
                        <div class="title border">
                            <p>All Department</p>
                            <a [routerLink]="['/departments/add-department']" class="btn btn-green" style="align-self: end;">Add Department <i class="fa fa-plus"></i></a>
                        </div>
                       
                        <div class="table-con">
                             <p *ngIf="!hasDepartments">No departmnent created</p>
                            <table *ngIf="hasDepartments">
                                <thead>
                                    <tr>
                                    
                                        <th class="name">Department Name</th>
                                        <th class="name">Size</th>
                                        <th class="name">Night</th>
                                        <th class="name">Campus</th>
                                        <th class="action">Actions</th>
                                       
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr *ngFor="let item of data">
                                    
                                        <td class="flex-strat">{{item.name}}</td>
                                        <td class="flex-strat">l{{item.size}}</td>
                                        <td class="flex-strat">{{item.nigth}}</td>
                                        <td class="flex-strat">{{item.campus}}</td>

                                        <td class="flex-center">
                                            <div class="action">
                                                <a [routerLink]="['/departments/edit-department']" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a (click)="showDeleteBtn(item._id)" *ngIf="!item.showDelete" class="patial-delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                <a (click)="deleteDepartment(item._id)" *ngIf="item.showDelete"  class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                                             
                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                   
                </div>
            </div>
        </div>

   