
        <div class="section">
            <div class=" category">
                <div>
                    <div class="parent-con">
                        <div class="title border">
                            <p>All Department</p>
                            <a [routerLink]="['/departments/add-department']" class="btn btn-green" style="align-self: end;">Add Department <i class="fa fa-plus"></i></a>
                        </div>
                        <div class="table-con">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="num">#</th>
                                        <th class="name">Department Name</th>
                                        <th class="name">Email</th>
                                        <th class="name">Phone</th>
                                        <th class="name">Courses</th>
                                        <th class="action">Actions</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Department name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>

                                        <td class="flex-center">
                                            <div class="action">
                                                <a [routerLink]="['/departments/edit-department']" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Department name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Department name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Department name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="flex-center">#</td>
                                        <td class="flex-strat">Department name</td>
                                        <td class="flex-strat">lec@gmail.com</td>
                                        <td class="flex-strat">+237 676983069</td>
                                        <td class="flex-strat">courses</td>
                                        <td class="flex-center">
                                            <div class="action">
                                                <a href="" class="edit"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a href="" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                   
                </div>
            </div>
        </div>

   